body{
    background-color:lightgray;
  }
  h3{
    color:purple;
  }
  .contentpane{
    background-color:white;
    
    width:800px;
    height:400px;
    margin:50px;
    padding:30px;
     box-shadow: 0px 0px 15px grey;
  }
  .contentitem{
    background-color:white;
    
    width:150px;
    height:100px;
    margin:50px;
    padding:30px;
     box-shadow: 0px 0px 15px grey;
    display:inline-block;
  }