#photo{

    height: auto;
    width: auto;
    border-radius: 12px;
}
footer{
    background-color: lightgray;
    width: 60%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-left: 1em;
  
}
span#right-footertext{
    float:right;
    margin-right: 1em;
}